<div class="flex flex-row justify-between items-center m-14">
    <div class=" flex flex-row gap-6">
        <div class=" flex font-Beba justify-center items-center w-16 h-16 border-4 rounded-full border-black">
            LOGO
        </div>
        <a href="https://www.linkedin.com/in/killian-delgas-413125365/" class="flex justify-center items-center w-16 h-16 border-4 rounded-full border-black">

            {{ source('svg/linkedin-svgrepo-com.svg')}}
        </a>
        <a href="https://killiandelgas.artstation.com" class="flex justify-center items-center w-16 h-16 border-4 rounded-full border-black">
            {{  source('svg/artstation-svgrepo-com.svg') }}
        </a>
        <div class="flex justify-center items-center w-16 h-16 border-4 rounded-full border-black">

            {{ source('svg/insta-svgrepo-com.svg')}}
        </div>
    </div>
    <div class="font-Barlow"> © All Right Reserved</div>
</div>

